/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#imageUpPage{
    text-align: center;
    display: inline-block;
}
.b_menu{
    display: block !important;
    background-color: lightblue !important;
    padding: 10px !important;
    width: 100% !important;
    border: 1px solid black !important;
  }