table {
    width: 100%;
  }
.tableTdHide{
}
.b_menu{
  display: block !important;
  background-color: lightblue !important;
  padding: 10px !important;
  width: 100% !important;
  border: 1px solid black !important;
}