html{
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
}
#mainDiv{
    height: 100%;
    width: 100%;
}
#middleBlock{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 400px;
    height: auto;
    padding: 20px 10px 23px 10px;
    text-align: center;
}
#info_avatar{
}
#info_about{
    text-align: center;
    margin: auto;
    width: 33.33%;
    height: auto;
    border-color: white;
    border: 2px;
}
#info_icons{
border-bottom: 3px solid white;
}
#table_icons{
    padding-top: 3px;
    margin: auto;
}
#bg-image{
  /* The image used */
  background-image: url("./background.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#name_text{
    font-size: 200%;
    font-family: 'Luckiest Guy' ;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
}
#name{
    border-bottom:  solid white;
}
#picAvatar{
    border-radius: 50%;
    width: 40%;
    height: 40%;

}
.icons{
    width: 35px;
    height: auto;
}
h1{
    color:red;
}
#gmailDiv{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: red;
}
